name: Release

on:
  push:
    tags: ['v*']

env:
  GOPRIVATE: github.com/nulorg/abyss-core

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate GitHub App Token
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.NULORG_PULL_APP_ID }}
          private-key: ${{ secrets.NULORG_PULL_APP_PRIVATE_KEY }}
          owner: nulorg
          repositories: abyss-core

      - name: Configure Git for private repo
        run: git config --global url."https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/".insteadOf "https://github.com/"

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          cache: false

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ABYSS_PUBLIC_KEY: ${{ vars.ABYSS_PUBLIC_KEY }}
